/**{
    outline: 1px solid rgba(255, 0, 0, 0.32);
}*/

body {
    width: 100%;
    height: 100%;
}

.icono{
    float: left;
    padding: 5px 0px;
	margin-left: 10px;
}

.iconmage{
	height: 20px;
	width: 20px;
}

.iconodos {
    font-size: 20px;
    color: #312a2a;
}

.espacio {
    padding-top: 20px;
    border-bottom: 1px solid gray;
}

.titulo {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: #312a2a;
}

.subtitle {
    font-size: 12px;
}

.countries{
	float: left;
}

.phone {
	float:left; 
}

.next {
	margin-top: 200px;
}

#next {
	background-color: fuchsia;
	border: 1px solid fuchsia;
}

#next a{
	font-family: 'Muli', sans-serif;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.check{
	padding-top: 5px;
	font-family: 'Muli', sans-serif;
}


.checkbox a {
	color: deepskyblue;
	text-decoration: none;
	font-family: 'Muli', sans-serif;
		
}

.checkbox a:hover {
	color: deepskyblue;
	text-decoration: none;
	font-family: 'Muli', sans-serif;
}

#number {
    float: none;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 11px;
    padding-right: 12px;
}

